*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.big-box{
	background: #f0f3ef;
	width: 100%;
	height: 15960px;
}
/* 京东官网顶部导航开始 */
.nav-box {
	width: 100%;
	height: 30.8px;
	background: #e3e4e5;
	font-size: 12px;
	border-bottom: 1px solid #ddd;
}
.nav-b{
	margin: 0 auto;
    width: 1190px;
	height: 30px;
    line-height: 30px;
    
}
.nav-b .fl{
	width: 257.6px;
	height: 29.6px;
	float: left;
}
.nav-b .fl .dingwei{
	width: 57.6px;
	height: 29.6px;
	margin-left: 200px;
	padding-left: 7px;
    padding-right: 7px;
	overflow: hidden;
    border: 1px solid #e3e4e5;
	color: #999;
}
.nav-b .fl .dingwei i{
	color: red;
}
.nav-b .fl .dingwei:hover{
	background: #FFFFFF;
	padding-bottom: 2px;
}
.nav-b .fr{
	width: 716.51px;
	height: 29.6px;
	float: right;
}
.frone{
	width: 127.11px;
	height: 29.6px;
	float: left;
	margin-right: 8px;
}
a{
	text-decoration: none;
	color: #999;
	cursor: pointer;
}
.fr a:hover{
	color: #e33333;
}
.frone span{
	color: #f10215;
	cursor: pointer;
}
.fr .spacer{
	display: list-item;
	overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
	float: left;
	list-style: none;
}
.frtwo{
	width: 48px;
	height: 16px;
	float: left;
	padding-left: 7px;
    padding-right: 7px;
}
.frthree{
	width: 76.6px;
	height: 29.6px;
	float: left;
	position: relative;
	padding-left: 7px;
	box-sizing: border-box;
	cursor: pointer;
}
.frthree:hover{
	background: #FFFFFF;
	padding-bottom: 2px;
}
.frthree i{
	position: absolute;
    right: 5px;
    top: 10px;
    width: 12px;
    height: 12px;
    line-height: 12px;
	color: #999;
}
.frlast{
	width: 60px;
	padding-left: 7px;
    padding-right: 7px;
	float: left;
	text-align: center;
	position: relative;
}
.weima{
	margin: 4px auto;
    width: 60px;
    height: 60px;
    background: #f6f6f6 url(//misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/mobile_qrcode.png) 50% no-repeat;
}
.frlast span{
	color: #999;
}
.erweima{
	position: absolute;
    left: 3px;
    width: 66px;
    height: 66px;
    border: 1px solid #cfcfcf;
}
/* 京东官网顶部导航结束 */

/* 京东头部开始 */
.header-box{
	margin: auto;
    width: 1190px;
	height: 140px;	
	position: relative;
}
.logo{
	position: absolute;
	left: 0;
    top: -30px;
    width: 190px;
    height: 170px;
	box-shadow: 0 -12px 10px rgba(0,0,0,.2);
    background-color: #fff;
	
}
.logo img{
	width: 100%;
	height: 100%;
}
.search{
	height: 60px;
	position: relative;
}
.search-bd{
	position: absolute;
    left: 320px;
    top: 25px;
    width: 550px;
    height: 35px;
	position: relative;
}
.search-bdl{
	left: 0;
    padding: 4px 44px 4px 4px;
    width: 450px;
    height: 25px;
    border: 1px solid transparent;
    line-height: 25px;
    font-size: 14px;
	background: #FFFFFF;
}
.search-bdl .search-input{
	display: block;
	width: 450px;
	height: 100%;
	border: none;
	padding: 0 10px;
	font-weight: 50;
	
}
.search span i{
	position: absolute;
    right: 65px;
    top: 10px;
    width: 19px;
    overflow: hidden;
}
.search span i:hover{
	color: red;
	cursor: pointer;
}
.search-bd .sousuo{
	
    right: 0;
    width: 50px;
    height: 35px;
    line-height: 35px;
    border: none;
    background: #f10215;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
	position: absolute;
    top: 0;
    cursor: pointer;
}
.buycar{
	width: 188px;
    height: 33px;
    background: #FFFFFF;
	font-size: 12px;
    text-align: center;
    line-height: 33px;
	position: absolute;
	top: 26px;
	right: 100px;
	color: red;
}
.buycar i:nth-child(2){
	background: red;
	color: #FFFFFF;
	border-radius: 50%;
}
.header-body{
	width: 550px;
	height: 20px;
	margin: 10px auto;
	display: flex;
	justify-content: space-between;
}
.header-body a{
	color: #f10215;
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
	margin-right: 10px;
	cursor: pointer;
	font-size: 12px;
}
.header-body a:hover{
	color: #c81623;
}
.header-body span{
	margin-right: 10px;
	white-space: nowrap;
	color: #999;
	cursor: pointer;
	line-height: 20px;
	font-size: 12px;
}
.header-body span:hover{
	color: #c81623;
}
.header-last{
	overflow: hidden;
    width: 790px;
    height: 40px;
    margin: 10px auto 0;
	font-size: 14px;
	display: flex;
}
.header-lastone{
	width: 260px;
	height: 40px;
	float: left;
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	box-sizing: border-box;
	line-height: 40px;
	color: #333;
}
.header-lastone span:hover{
	cursor: pointer;
	color: #c81623;
}
.header-lasttwo span:hover{
	cursor: pointer;
	color: #c81623;
}
.spacer-s{
    overflow: hidden;
    margin: 15px 10px;
    width: 1px;
    height: 10px;
    background: #ccc;
	box-sizing: border-box;
	
}
.header-lasttwo{
	width: 160px;
	height: 40px;
	float: left;
	padding: 0 10px;
	box-sizing: border-box;
	line-height: 40px;
	color: #333;
	display: flex;
	justify-content: space-between;
}

/* 京东头部开始 */
/* 京东轮播图开始 */
.wheel{
	width: 1190px;
	height: 480px;
	margin: 0 auto ;
	overflow: hidden;
}
.wheel-one{
	width: 190px;
	height: 480px;
	background: #fefefe;
	float: left;
}
.cate-menu{
	padding: 6px 0;
	box-sizing: border-box;
	color: #636363;
}
.cate-menu-item{
	height: 26px;
    line-height: 26px;
	overflow: hidden;
    padding-left: 18px;
	font-size: 14px;
	color: #626262;
}
.cate-menu-item:hover{
	background: #e7e7e7;
}
.cate-menu-item a{
	color: #626262;
}
.cate-menu-item a:hover{
	color: #f10215;
	cursor: pointer;
}
.cate-menu-item span:hover{
	color: #f10215;
	cursor: pointer;
}
.wheel-two{
	width: 590px;
	height: 480px;
	/* background: gray; */
	float: left;
	margin-left: 10px;
	overflow: hidden;
}
.wheel-two img{
	width: 590px;
	height: 470px;
	margin-top: 10px;
}
.wheel-two img:hover{
	cursor: pointer;
}
	
.wheel-three{
	width: 190px;
	height: 470px;
	/* background: gray; */
	float: left;
	margin-left: 10px;
	/* overflow: hidden; */
}
.wheel-three-m{
	width: 190px;
	height: 150px;
	position: relative;
	margin-top: 10px;
}
.wheel-three-m img{
	width: 190px;
	height: 100%;
	transition: all .1s linear;
}
.wheel-three-m img:hover{
	cursor: pointer;
	opacity: 0.8;
}

.wheel-four{
	width: 190px;
	height: 480px;
	background: #fff;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
	
}
.wheel-four .f1{
	width: 190px;
	height: 140px;
	/* background: blue; */
	padding-top: 62px;
	box-sizing: border-box;
	margin-top: 10px;
	
}
.user-portrait{
	position: absolute;
    left: 50%;
    top: -10px;
    margin-left: -34px;
    width: 65px;
    height: 65px;
	text-align: center;
	line-height: 65px;
	border: 5px solid #e3e1df;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 3px 6px 25px #c3c3c3;
	box-sizing: border-box;
}
.user-portrait img{
	width: 55px;
	height: 55px;
}
.user-show{
	color: #888;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
}
.user-tip{
	width: 170px;
	height: 20px;
	margin: 0 auto;
}
.user-login{
	width: 170px;
	height: 20px;
	margin: 0 auto;
}
.user-login span:hover{
	color: #f10215;
	cursor: pointer;
}
.f1-box{
	width: 190px;
	height: 25px;
	/* background: yellow; */
	margin-top: 10px;
	text-align: center;
}
.f1-left{
	display: inline-block;
    margin: 0 5px;
    width: 70px;
    height: 25px;
	background: #FFFFFF;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    color: #e43f3b;
	border-radius: 20px;
	box-shadow: 2px 4px 20px 1px rgba(0,0,0,0.2);
}
.r{
	color: #e5d790;
	background: #363634;
}
.f1-left:hover{
	background-color: #e01222;
    color: #fff;
	cursor: pointer;
}
.f2{
	width: 190px;
	height: 130px;
	position: relative;
	/* background: blue; */
}
.f2-head{
	width: 100%;
	height: 27px;
	padding: 5px 0 0;
	position: relative;
	box-sizing: border-box;
}
h5{
	display: inline-block;
    font-size: 13px;
    margin-left: 15px;
    color: #1e1e1e;
}
.f2-more{
	position: absolute;
    right: 12px;
    top: 10px;
    font-size: 12px;
    color: #999;
	line-height: 13px;
}
.f2-more:hover{
	color: #666;
	cursor: pointer;
}
.f2-body{
	position: relative;
    padding-top: 8px;
    margin: 0 15px;
    height: 96px;
	/* background: #ADFF2F; */
	box-sizing: border-box;
}
.f2-body-one{
    /* max-width: 160px; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
	font-size: 12px;
	line-height: 22px;
}
.f2-body-one a{
	color: #666;
}
.f2-body-one a:hover{
	color: #e83632;
}
.f2-body-one .news{
	display: inline-block;
    position: relative;
    height: 16px;
    width: 35px;
    line-height: 16px;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    background: #90b0c6;
    margin-right: 6px;
}
.f2-body-one{
	color: #e83632;
}
.f2-body-one .n1{
	background: #e0b95a;
}
.f2-body-one .n2{
	background: #e47f7f;
}
.f2-body-one .n3{
	background: #e47f7f;
}
.box:after{
	content: "";
	display: block;
    position: absolute;
    top: 130px;
    left: 15px;
    width: 160px;
    height: 1px;
    background: #ebeaea;
    /* z-index: 1; */
}
.f3{
	width: 190px;
	height: 190px;
	overflow: hidden;
    padding: 18px 11px 11px;
	box-sizing: border-box;
}
.f3-body-one{
	width: 42px;
	height: 57px;
	/* background: red; */
	padding-top: 10px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	color: #bea68d;
}
.f3-body-one .iconfont {
	font-size: 16px;
}
.f3-body-one span{
	display: block;
    padding-top: 3px;
    box-sizing: border-box;
    transition: color .15s ease;
	font-size: 12px;

}
.f3-body-one:hover{
	color: #c81623;
	font-weight: 600;
	cursor: pointer;
}
/* 京东轮播图结束 */

/* 京东秒杀开始 */
.kill-box{
	width: 1190px;
	height: 275px;
	/* background: greenyellow; */
	margin: 30px auto;
}
.kill-left{
	width: 190px;
	height: 275px;
	background: #e83632;
	float: left;
	text-align: center;
	padding: 45px 20px 20px;
	box-sizing: border-box;
	color: #FFFFFF;
}
.kill-left:hover{
	cursor: pointer;
}
p{
	margin: 10px 0px 0px 0px;
}
.desc-time{
	font-size: 36px;
	color: #FFFFFF;
}
.desc-t{
	color: #f19999;
	font-size: 20px;
}
.kill-left .icon-content-flashsale{
	font-size: 33px;
}
.desc-countDown{
	width: 135px;
	height: 40px;
	/* background: red; */
	margin: 22px auto 0;
}
.desc-count{
	font-size: 24px;
	background: #2f3430;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #FFFFFF;
	float: left;
	margin-right: 5px;
}


.kill-mid{
	width: 200px;
	height: 275px;
	background: #FFFFFF;
	float: left;
	padding: 0 5px;
	box-sizing: border-box;
	position: relative;
	border-right: 1px solid #f1f3ef;
}
.kill-mid:hover{
	cursor: pointer;
}
.kill-mid:hover p{
	color: #c81623;
}
.kill-mid .img{
	width: 140px;
	height: 140px;
	/* background: red; */
	margin: 50px auto 5px;
}
.kill-mid .img img{
	width: 100%;
	height: 100%;
	transition: all .2s linear;
}
.kill-mid .img img:hover{
	cursor: pointer;
	opacity: 0.8;
}
.mid-title{
	position: absolute;
    top: 190px;
    left: 0;
    width: 160px;
    padding: 0 15px;
    line-height: 30px;;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
	color: #666;
	font-size: 12px;
}
.mid-price{
	position: absolute;
    left: 15px;
    top: 230px;
    width: 160px;
    height: 20px;
    padding: 1px;
    background: #e6382f;
    line-height: 20px;
}
.price-left{
	float: left;
    width: 80px;
    height: 20px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.price-left a{
	
	margin-right: 3px;
    font-family: arial,sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.price-left span{
	text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.price-right{
	float: left;
    width: 80px;
    height: 20px;
    background: #fff;
    text-align: center;
    color: #b7bcb8;
    font-size: 12px;
    text-decoration: line-through;
}

.price-right a{
	text-align: center;
    color: #b7bcb8;
    font-size: 12px;
}
.price-right s{
	text-align: center;
    color: #b7bcb8;
    font-size: 12px;
}

.kill-right{
	width: 200px;
	height: 275px;
	background: #FFFFFF;
	float: right;
	padding: 8px 10px 7px;
	box-sizing: border-box;
}
.kill-right img{
	width: 100%;
	height: 100%;
}
/* 京东秒杀结束 */

/* 排行榜开始 */
.pai{
	width: 1190px;
	height: 480px;
/* 	background: red; */
	margin: 0 auto;
}
.pai-left{
	width: 390px;
	height: 450px;
	background: #FFFFFF;
	margin: 0 10px 30px 0;
	float: left;
	position: relative;
}
.pai .l{
	margin-right: 0;
}
.pai-left-title{
	height: 60px;
	/* background: #008000; */
    padding: 0 20px;
    font-size: 0;
    line-height: 0;
	overflow: hidden;
}
.left-title-box{
    position: relative;
    height: 40px;
    margin: 8px 0 0 0;
	/* background: blue; */
	overflow: hidden;
}
.box-tit{
	float: left;
    font-size: 22px;
    color: #222;
    line-height: 44px;
	font-weight: normal;
}
.box-tit:hover{
	cursor: pointer;
}
.left-title-box .iconfont{
    float: left;
    position: relative;
    width: 23px;
    height: 23px;
    top: 22px;
    left: 4px;
	font-size: 23px;
	color:  #c81623;
}
.left-title-box .iconfont:hover{
	cursor: pointer;
}
.box-t{
	float: left;
    font-size: 14px;
    color: #999;
    height: 20px;
    line-height: 20px;
    margin: 12px 0 0 10px;
}
.box-t:hover{
	cursor: pointer;
}
.tab-top{
	width: 78px;
	height: 34px;
	background: #F7F7F7;
	float: left;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
	padding: 9px 15px;
	box-sizing: border-box;
	color: #666666;
	font-size: 12px;
	text-align: center;
}
.tops{
	color: #e33333;
}
.tab-top:hover{
	color: #e33333;
}
.tab-body{
	width: 390px;
	height: 321px;
	/* background: blue; */
	margin-top: 34px;
}
.tab-body-item{
	width: 350px;
	height: 321px;
	/* background: white; */
	margin: 0 auto;
}
.body-item-one{
	width: 350px;
	height: 107px;
	background: white;
}
.o{
	border-bottom: 0.1px solid #f5f5f5;
}
.body-item-one:hover .item-one-imgs{
	opacity: 0.8;
	cursor: pointer;
}
.body-item-one:hover .item-one-w{
	color: #e33333;
	cursor: pointer;
}
.item-one-imgs{
	float: left;
    width: 80px;
    height: 80px;
    margin-top: 15px;
	background: #008000;
}
.item-one-imgs img{
	width: 100%;
	height: 100%;
}
.item-one-n{
	float: left;
    width: 30px;
    height: 40px;
    margin: 36px 0 0 10px;
    line-height: 40px;
    font-size: 32px;
    text-align: center;
    font-family: 'impact', sans-serif;
	color: #e74240
}
.nn{
	color: #ed713d;
}
.nnn{
	color: #feb185;
}
.item-one-w{
	display: block;
    margin-left: 125px;
    padding-top: 40px;
    height: 32px;
    line-height: 16px;
    font-size: 12px;
    overflow: hidden;
    color: #333;
	transition: color ease 0.2s;
}
.pai-left .two-dots{
	width: 34px;
	height: 16px;
	margin-left: -17px;
	bottom: 9px;
	position: absolute;
    left: 50%;
    font-size: 0;
    text-align: center;
	
}
.two-dots-left{
	position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 1px;
    border-radius: 50%;
	transition: all .2s ease;
}
.two-dots-left:hover {
	background: #fdd9dd;
}
.two-dots-left:hover .inn{
	border: 2px solid transparent;
	background: #eb3436;
}
.le{
	background: #fdd9dd;
}
.two-dots-in{
	display: block;
	position: absolute;
	left: 3px;
	top: 3px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	/* border: 2px solid #b9beba; */
	border: 2px solid transparent;
    background: #eb3436;
}
.inn{
	border: 2px solid #b9beba;
	background: #FFFFFF;
}

.pai-body{
	width: 390px;
	height: 355px;
	/* background: #008000; */
}
.pai-body-li{
	position: relative;
    width: 350px;
    height: 355px;
	/* background: grey; */
    margin: 0 auto;
}
.slider-left{
	position: absolute;
    top: 50%;
	
    border-radius: 0;
    width: 20px;
    height: 40px;
    line-height: 40px;
    background-color: #d9d9d9;
    background-color: rgba(0,0,0,.15);
    margin-top: -20px;
    font-size: 20px;
    z-index: 2;
    border: none;
    outline: none;
    transition: background-color .2s ease;
}
.slider-left:hover{
	background-color: rgba(0,0,0,0.4)
}
.slider-left .iconfont{
	font-family: iconfont,sans-serif;
    font-style: normal;
	color: hsla(0,0%,100%,.4);
}
.ll{
	left: -20px;
}
.rr{
	right: -20px;
}
.rrr{
	right: 0;
}
.pai-body-imgs{
	display: block;
    width: 350px;
    height: 128px;
    margin-bottom: 20px;
	position: relative;
	/* background: darkred; */
	transition: all .3s linear;
}
.pai-body-imgs img{
	width: 100%;
	height: 100%;
}
.pai-body-imgs:hover{
	cursor: pointer;
	opacity: 0.8;
}
.iii{
	height: 250px;
}
.pai-body-imgs .after {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    display: block;
    width: 0;
    height: 0;
    border-top: solid 8px transparent;
    border-right: solid 8px transparent;
    border-bottom: solid 8px #fff;
    border-left: solid 8px transparent;
}
.pai-body-cover{
    width: 100%;
    height: 210px;
	/* background: #008000; */
    z-index: 1;
    font-family: 'Microsoft Yahei', sans-serif;	
}
.body-list{
    text-align: center;
    font-size: 0;
    margin: 0 -8px;
	height: 105px;
	width: 366px;
	/* display: flex;
	justify-content: space-between; */
}
.body-item{
    display: inline-block;
    width: 105px;
    height: 105px;
    margin: 0 8px;
    background: #fff;
    overflow: hidden;
    line-height: 105px;	
}
.item-box{
	width: 105px;
	height: 105px;
	/* background: #888888; */
	transition: all .2s linear;
}
.item-box img{
	width: 100%;
	height: 100%;
}
.item-box:hover{
	cursor: pointer;
	opacity: 0.8;
}
.body-title{
	height: 58px;
	font-weight: 600;
    line-height: 58px;
    font-size: 18px;
    text-align: center;
    color: #222;
}
.body-title:hover{
	cursor: pointer;
}
.ttt{
	font-size: 16px;
    color: #333;
    height: 50px;
    line-height: 56px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.body-subtit{
	font-size: 14px;
    height: 36px;
    line-height: 18px;
    margin: 0 auto 0;
    text-align: center;
    overflow: hidden;
    color: #666;
}
.body-subtit{
	cursor: pointer;
}
.sss{
    color: #999;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}
.pai-left .t1{
	width: 51px;
	height: 16px;
}

.coupon_inner{
	width: 390px;
	height: 355px;
	position: relative;
    padding: 0 20px;
	box-sizing: border-box;
}
.coupon_inner_one{
	width: 350px;
	height: 118px;
	border-radius: 6px;
	background: #F6F6F6;
}
.oo{
	background: #EEEFED;
}
.coupon_inner_one:hover{
	cursor: pointer;
}
.coupon_inner_one:hover .more-word{
	color: #e33333;
}
.coupon_inner_one:hover .inner_one_imgs{
	opacity: 0.8;
}
.inner_one_imgs{
	width: 70px;
	height: 70px;
	float: left;
    margin: 14px 0 0 10px;
    padding: 10px;
	border-radius: 50%;
	background: #FFFFFF;
	overflow: hidden;
}
.inner_one_imgs img{
	width: 100%;
	height: 100%;
}

.coupon-more{
	float: right;
    height: 100%;
    line-height: 118px;
    margin-right: 34px;
    font-size: 12px;
    color: #333;
	transition: color ease 0.2s;
}
.more-word{
	display: inline-block;
    width: 1px;
    line-height: 15px;
    vertical-align: middle;
}
.coupon-info{
	padding-top: 15px;
    margin: 0 72px 0 110px;
}
.coupon-price{
	font-family: 'impact', sans-serif;
    display: block;
    height: 38px;
    line-height: 38px;
}
.coupon-price b{
    font-size: 16px;
	color: #e33333;
}
.coupon-price span {
    font-size: 34px;
	color: #e33333;
}
.coupon-limit{
	color: #b1b3b0;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.coupon-desc{
	color: #767b77;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 排行榜结束 */

/* 觅我开始 */
.grid-mi{
	margin: 0 auto;
    width: 1190px;
	height: 480px;
	/* background: red; */
}
.grid-mi .l{
	margin-right: 0;
}

.box-bd{
	width: 390px;
	height: 378px;
	/* background: red; */
	overflow: hidden;
}
.wrapper{
	width: 390px;
	height: 378px;
	margin: 0;
    padding-top: 10px;
}
.warpper-list{
	margin: 0 0 0 15px;
	/* background: #008000; */
	width: 375px;
	height: 368px;
}
.warpper-item{
	float: left;
    width: 180px;
    height: 184px;
    text-align: center;
	transition: all .2s linear;
}
.warpper-item:hover{
	cursor: pointer;
}
.warpper-item:hover .item-img{
	opacity: 0.8;
}
.item-img img{
	width: 100%;
	height: 100%;
}
.warpper-item:hover .item-tit{
	color: #E23333;
}
.warpper-item:hover .item-subtit{
	color: #E23333;
}
.item-k{
	color: #666;
	width: 180px;
	height: 166px;
}
.item-img{
	width: 110px;
    height: 110px;
    margin: 0 auto;
	transition: all .2s linear;
}
.item-tit{
	display: block;
    font-size: 14px;
    color: #3e8c96;
    font-weight: bold;
    height: 16px;
    padding: 0 10px;
    line-height: 16px;
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	transition: all .2s linear;
}
.item-subtit{
	display: block;
    font-size: 12px;
    line-height: 14px;
    padding: 0 8px;
    margin-top: 6px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color ease 0.2s;
}
.hui-body{
	width: 390px;
	height: 370px;

}
.hui-img{
	width: 350px;
	height: 250px;
	margin: 0 auto;
	/* background: blue; */
	transition: all .2s linear;
}
.hui-img:hover{
	cursor: pointer;
	opacity: 0.8;
}
.hui-img img{
	width: 100%;
	height: 100%;
}
.shop-list{
	width: 360px;
	height: 110px;
    overflow: hidden;
    margin: 10px auto 0;
}
.shop-item{
	float: left;
    width: 110px;
    height: 110px;
    margin: 0 5px;
}
.item-left{
	width: 110px;
    height: 110px;
	transition: all .2s linear;
}
.item-left img{
	width: 100%;
	height: 100%;
}
.item-left:hover{
	cursor: pointer;
	opacity: 0.8;
}
/* 觅我结束 */
/* 时尚达人栏开始 */
.fash{
	margin: 0 auto;
    width: 1190px;
	/* background: red; */
}
.f-tit{
	position: relative;
    width: 150px;
    height: 45px;
    font-size: 28px;
    font-family: 'fzzzh', sans-serif;
    font-weight: normal;
    text-align: center;
    line-height: 45px;
    padding: 0 50px;
    margin: 0 auto 20px;
    overflow: hidden;
    color: #222;
}
.f-tit::before{
	content: "";
	display: block;
	width: 50px;
	height: 3px;
	background: #222;
	position: absolute;
	left: 0;
	top:50%;
}
.f-tit::after{
	content: "";
	display: block;
	width: 50px;
	height: 3px;
	background: #222;
	position: absolute;
	right: 0;
	top:50%;
}	
.fix{
	margin: 0 auto;
    width: 1190px;
	height: 480px;
}
/* 时尚达人栏结束 */
/* 运动户外开始 */
.pai-body{
	width: 390px;
	height: 380px;
}
.pai-body-in{
	width: 370px;
	height: 380px;
	margin: 0 0 0 20px;
}
.body-in-top{
	display: block;
    width: 350px;
    height: 180px;
    margin-bottom: 10px;
	transition: all .2s linear;
}
.body-in-top img{
	width: 100%;
	height: 100%;
}
.body-in-top:hover{
	cursor: pointer;
	opacity: 0.8;
}
.body-in-bottom{
	float: left;
    display: block;
    width: 170px;
    height: 180px;
    margin: 0 10px 10px 0;
	transition: all .2s linear;
}
.body-in-bottom img{
	width: 100%;
	height: 100%;
}
.body-in-bottom:hover{
	cursor: pointer;
	opacity: 0.8;
}
.act{
	float: left;
    width: 390px;
    height: 450px;
    margin: 0 0 30px 0;
}
.act-inner{
	width: 390px;
	height: 450px;
	position: relative;
}
.act-inner::before{
	content: '';
    display: block;
    width: 340px;
    height: 420px;
    border: solid 5px #333;
	position: absolute;
    top: 20px;
}
.act .act-inner::before{
	right: 0;
}
.act-img{
	position: relative;
    z-index: 1;
    float: left;
    width: 340px;
    height: 420px;
    margin: 0 30px;
	background: #FFFFFF;
}
.act-img-one{
	width: 340px;
    height: 200px;
    margin-bottom: 20px;
	background: #fff;
}
.act-img-one img{
	width: 100%;
	height: 100%;
}
.act-inner .act-img{
	float: right;
    margin-right: 30px;
	transition: all .2s linear;
}
.act-img img{
	width: 100%;
	height: 100%;
	transition: all .2s linear;
}
.act-img img:hover{
	cursor: pointer;
	opacity: 0.8;
}
/* 运动户外结束 */
/* 轻奢皮具开始 */
*{
	margin: 0;
}
.light{
	width: 1190px;
	height: 480px;
	margin: 0 auto;
}
.light-one{
	float: left;
    width: 390px;
    height: 450px;

    margin: 0 10px 30px 0;
}
.light-one-inner{
	width: 390px;
	height: 450px;
	position: relative;
}
.light-one-inner::before{
    content: '';
    position: absolute;
    display: block;
    width: 340px;
    height: 420px;
    border: solid 5px #333;
    top: 20px;
}
.lk{
	position: relative;
    z-index: 1;
    float: left;
    width: 340px;
    height: 420px;
    margin: 0 30px;
	background: #FFFFFF;
}
img{
	transition: all .2s linear;
}
.lk img:hover{
	cursor: pointer;
	opacity: 0.8;
}
.light-two{
	float: left;
    width: 390px;
    height: 450px;
    margin: 0 10px 30px 0;
	background-color: #fff
}
.light-two-top{
	display: block;
    height: 225px;
    background: #fff;
    position: relative;
}
.two-top-hd{
	padding-top: 20px;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
}
.two-top-tit{
	width: 350px;
    color: #222;
    font-weight: normal;
    margin: auto;
}
.two-top-tit:hover{
	cursor: pointer;
}
.two-top-tit span{
	color: #999;
    font-size: 14px;
    vertical-align: 1px;
}
.two-top-tit span:hover{
	cursor: pointer;
}
.two-top-h{
	padding-top: 30px;
}
.two-top-list{
	overflow: hidden;
    text-align: center;
}
.two-top-item{
	display: inline-block;
    margin: 0 25px;
}
.two-top-item img{
	width: 100%;
	height: 100%;
}
.items{
	width: 130px;
    height: 130px;
	transition: all .2s linear;
}
.items:hover{
	cursor: pointer;
	opacity: 0.8;
}
.top-gap{
    height: 1px;
    width: 100%;
    background-color: #f3f2f1;
    box-sizing: border-box;
    border-left: 20px solid #fff;
    border-right: 20px solid #fff;
    position: absolute;
    bottom: 0;
    left: 0;	
}
.light-three{
	float: left;
    width: 390px;
    height: 450px;
    margin: 0 10px 30px 0;
	margin-right: 0;
    background-color: #fff;
}
.three-hd{
    height: 60px;
    padding: 0 20px;
    font-size: 0;
    line-height: 0;	
}
.three-hd-k{
    display: inline-block;
    position: relative;
    height: 40px;
    margin: 8px 0 0 0;
}
.three-hd-tit{
    float: left;
    font-weight: normal;
    font-size: 22px;
    color: #222;
    line-height: 44px;
}
.three-hd-tit:hover{
	cursor: pointer;
}
.three-hd-tit span{
	float: right;
    font-size: 14px;
    color: #999;
    height: 20px;
    line-height: 20px;
    margin: 12px 0 0 10px;	
}
.three-hd-tit span:hover{
	cursor: pointer;
}
.three-wrapper{
	padding: 0 20px 20px 20px;
}
.three-itme{
	height: 180px;
    margin-bottom: 10px;
    box-sizing: border-box;
    overflow: hidden;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background: #e3e6ec;
}
.its{
	background: #ede8f1;
}
.good{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.good-item{
	height: 100%;
    width: 116px;
    float: left;
    padding: 31px 14px 0 14px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
	background-color: rgba(121, 135, 164, 0.5);
}
.ggg{
	background-color:rgba(145, 128, 155, 0.5);
}
.good-item p{
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}
.good-item-s{
    width: auto;
    background-color: #e4393c;
    border: 1px solid #e4393c;
    overflow: hidden;
    color: #fff;
    box-sizing: border-box;
    line-height: 15px;
    font-size: 12px;
    vertical-align: middle;
    padding-right: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.good-item-s b{
	background-color: #fff;
    color: #e4393c;
    display: inline-block;
    width: 20px;
    text-align: center;
    margin-right: 2px;
    font-weight: bold;
}
.good-f{
	font-size: 12px;
    color: #fff;
    position: absolute;
    left: 14px;
    top: 136px;
}
.good-right-list{
	float: left;
    margin-top: 34px;
    margin-left: 14px;
}
.good-right-lis .list-one{
    background-color: #fff;
    border-radius: 10px;
    width: 96px;
    height: 96px;
    overflow: hidden;
}
.list-one img{
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 7px;
    margin: 3px 0 0 3px;
    transition: opacity ease 0.2s;
}
.list-one img:hover{
	cursor: pointer;
	opacity: 0.8;
}
.list-price{
	color: #e43235;
    text-align: center;
    margin-top: 7px;
    font-size: 12px;
}
.list-price b{
	margin-right: 3px;
}

/* 轻奢皮具结束 */
/* 京东时尚开始 */
.fashi{
	margin: 0 auto;
    width: 1190px;
	height: 480px;
}
/* 京东时尚结束 */
/* 手机频道开始 */
.phone-l-box{
	width: 370px;
	height: 368px;
	margin: 0 0 0 20px;
}
.phone-l-l{
	float: left;
    width: 170px;
    height: 180px;
    margin: 0 10px 10px 0;
	transition: all .2s linear;
}
.phone-l-l img:hover{
	opacity: 0.8;
}
.phone-l-l img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.phone-l-x{
	float: left;
    width: 348px;
	height: 178px;
    border: solid #ebeaea;
    border-width: 0 1px 1px 0;
    overflow: hidden;
}
.phone-l-x a{
	float: left;
    width: 86px;
    height: 58px;
    text-align: center;
    line-height: 58px;
    font-size: 0;
    overflow: hidden;
    border: solid #ebeaea;
    border-width: 1px 0 0 1px;
}
.phone-xtb{
	background: #fff;
    width: 80px;
    margin: auto;
}
.phone-xtb img{
	width: 100%;
    height: auto;
	cursor: pointer;
	transition: all .2s linear;
}
.phone-xtb img:hover{
	opacity: 0.8;
}
.phone-z-img{
	width: 350px;
	height: 370px;
	margin: 0 auto;
	cursor: pointer;
}
.phone-z-img img{
	width: 100%;
	height: 100%;
	transition: all .2s linear;
}
.phone-z-img img:hover{
	opacity: 0.8;
}
/* 手机频道结束 */
/* 智能数码开始 */
.fff{
	margin-right: 0;
}
/* 智能数码结束 */
/* 生活百货栏开始 */
/* 生活百货栏结束 */
/* 京东超市开始 */
/* 京东超市结束 */
/* 图书市集开始 */
/* 图书市集结束 */
/* 居家优品栏开始 */
/* 居家优品栏结束 */
/* 家电馆开始 */
/* 家电馆结束 */
/* 京东京造开始 */
.jingzao{
    position: relative;
    width: 350px;
    height: 165px;
    margin: 0 auto;
	transition: all .2s linear;
}
.jingzao img{
	width: 100%;
	height: 100%;
}
.jingzao:hover{
	cursor: pointer;
	opacity: 0.8;
}
.jingzao-list{
    width: 350px;
    overflow: hidden;
    margin: 12px auto 0;
}
.jingzao-item{
    float: left;
    width: 150px;
	transition: all .2s linear;
}
.jingzao-item:hover{
	cursor: pointer;
	opacity: 0.8;	
}
.jingzao-img{
	height: 150px;
}
.jingzao-img img{
	width: 100%;
	height: 100%;
}
.jingzao-price{
    color: #f62424;
    font-size: 14px;
    margin-top: 5px;
}
.jingzao-tip{
	font-size: 14px;
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.st{
    position: relative;
    margin-left: 50px;
	width: 150px;
}
.st::after{
    content: '';
    display: block;
    width: 1px;
    height: 150px;
    background-color: #efefef;
    position: absolute;
    left: -25px;
    top: 0;
}
/* 京东京造结束 */
/* 寻宝栏开始 */
.find{
	width: 1190px;
	height: 500px;
	margin: 0 auto;
	/* background: #008000; */
}
.scene{
    float: left;
    width: 390px;
    margin: 0 10px 30px 0;
	height: 240px;
    margin-bottom: 10px;
    background: #fff;
}
.scene-cover{
    position: relative;
    width: 390px;
    height: 100px;
    overflow: hidden;
}
.scene-cover img{
	width: 100%;
	height: 100%;
}
.mask{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
	cursor: pointer;
}
.scene-tit{
    position: absolute;
    top: 39px;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    z-index: 1;
    vertical-align: middle;
	color: #FFFFFF;
	cursor: pointer;
}
.scene-subtit{
	font-weight: normal;
}
.scene-list{
    width: 360px;
    margin: 10px auto 0;
    overflow: hidden;
}
.scene-ltem{
	width: 110px;
	height: 110px;
	float: left;
    margin: 0 5px;
	transition: all .2s linear;
}
.scene-ltem img:hover{
	opacity: 0.8;
	cursor: pointer;
}
.scene-ltem img{
	width: 100%;
	height: 100%;
}
.slast{
	margin-right: 0;
}
/* 寻宝栏结束 */
/* 特色推荐开始 */
.speci{
	margin: 0 auto;
    width: 1190px;
	position: relative;
    height: 385px;
}
.speci-box{
    height: 330px;
    margin-bottom: 10px;
    overflow: hidden;
}
.box-one{
	width: 390px;
	height: 330px;
	background: #FFFFFF;
	margin: 0 10px 10px 0;
	float: left;
}
.speci-box .fff{
	margin-right: 0;
}
.sdots{
	width: 84px;
	margin: 0 auto;
}
/* 特色推荐结束 */
/* 直播开始 */
.tv-box{
	margin: 0 auto;
    width: 1190px;
	height: 455px;
}

.tv-boxone{
	float: left;
    width: 390px;
    height: 425px;
    margin: 0 6px 30px 0;
	background: #fff;
	overflow: hidden;
}
.tv-boxs{
	width: 360px;
	height: 400px;
    margin: 15px;
	
}
.tv-boxone-l{
	float: left;
    width: 170px;
    height: 190px;
    margin: 5px;
	position: relative;
	cursor: pointer;
}
.tv-boxone-l img{
	width: 100%;
	height: 100%;
}
.tv-btn{
	width: 44px;
    height: 44px;
    margin: -22px 0 0 -22px;
	position: absolute;
    top: 50%;
    left: 50%;
    background-size: 100% 100%;
    z-index: 1;
    opacity: 0.8;
	transition: opacity ease 0.2s;
}
.tv-btn i{
	font-size: 42px;
	color: #FFFFFF;
}
.tv-info{
	bottom: 20px;
	position: absolute;
    width: 100%;
	height: 24px;
    /* bottom: 38px; */
    text-align: center;
    color: #fff;
    z-index: 1;
}
.tv-desc{
	font-size: 14px;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tv-twoimg{
	width: 100%;
    height: 390px;
    margin-bottom: 10px;
	position: relative;
}
.tv-twoimg img{
	width: 100%;
	height: 100%;
}
.tv-Btn{
	position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
	background-size: 100% 100%;
    z-index: 1;
    opacity: 0.8;
	transition: opacity ease 0.2s;
}
.tv-Btn i{
	font-size: 64px;
	color: #FFFFFF;
}
.tv-Info{
	position: absolute;
    width: 100%;
    bottom: 38px;
    text-align: center;
    color: #fff;
    z-index: 1;
}
.tv-title{
	font-size: 18px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tv-titles{
	font-size: 14px;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 直播结束 */

/* 还没逛够内容开始 */
.note{
	margin: 0 auto;
    width: 1190px;
	height: 630px;
}
.note-list{
	width: 1200px;
	height: 630px;
}
.note-item{
    position: relative;
    float: left;
    width: 230px;
    height: 305px;
    background: #fff;
    margin: 0 5px 10px;
}
.note-item img{
	width: 100%;
	height: 100%;
}
.note-item img:hover{
	cursor: pointer;
	opacity: 0.8;
}
.note-img{
	width: 150px;
    height: 150px;
    margin: 40px auto 18px;
    display: block;
	transition: all .2s linear;
}
.note-img img{
	width: 100%;
	height: 100%;
}
.note-img:hover{
	cursor: pointer;
	opacity: 0.8;
}
.note-info{
	clear: both;
    padding: 0 16px 0;
    height: 65px;
    line-height: 24px;
}
.note-info-name{
	height: 40px;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    color: #7d7d7d;
    transition: color ease 0.2s;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}
.note-info-price{
	margin-top: 5px;
}
.mod-price{
	display: inline-block;
    font-size: 16px;
    line-height: 18px;
    height: 18px;
	color: #e33333;
}
.dis{
	font-size: 12px;
    color: #e33333;
    height: 16px;
    padding: 0 10px;
    box-sizing: border-box;
    border: 1px solid #e33333;
    line-height: 14px;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    vertical-align: 1px;
}
/* 还没逛够内容结束 */


